.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
    background-color: #c4bf79;
    padding: 1rem;
    border-radius: 10px;
}

.title {
    font-size: 2rem;
    color: #fff;
}

.email {
    font-size: 1.2rem;
    color: #fff;
}

.idade {
    font-size: 1.2rem;
    color: #fff;
}